* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}


.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;

    margin-left: auto;
    margin-right: 100px;
    margin-bottom: 50px;
}


.midline-container {
    display: flex;
    flex-direction: column;
    margin-right: auto;

    gap: 50px;
}


.wrapper {
    display: flex;

    box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.76);
    border-radius: 2px;
    width:  450px;
    height: 450px;

    flex-wrap: wrap;

    margin: 0;
    
}


.sketch-pad-container {
    display: flex;  
    flex-grow: 1;  

    margin: 0;
}


.pixel-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin: 0;
}


.pixel {
   
    flex-grow: 1;

    border: solid 1px rgba(0, 0, 0, 0.199);

    background-color: white;
    
    padding: 1px;
    margin: 0;
}


.pixel:hover {
    background-color: #707070b6;
}


.btn {
    margin-top: 50px;
}


button {
    font-size: 18px;
    cursor: pointer;

    background-color: initial;
    border: solid 2.5px black;
    border-radius: 50px;
    outline: none;

    padding: 15px;
}


input[type="color"] {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;

    cursor: pointer;

    width: 100px;
    height: 100px;
  }


  input[type="color"]::-webkit-color-swatch {
    border: solid 1px black;
    border-radius: 50px;
  }

